/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import url("https://use.fontawesome.com/releases/v5.0.1/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/****************************** Donate ******************************/
div#donate{
  padding: 5px;
}
#donate, #donate h6{
  background-color:#5783A8 ;
  text-align:center;
  margin:0px;
  padding:2px;
  color: white;
  font-size: 0.9rem;
}
#donate .btn-primary{
  color: black;
  font-size: 0.9rem;
  background-color: #84ACCD;
  border-color: #84ACCD;
  box-shadow: none;
  padding: 0.75rem;
}

/****************************** Breadcrumbs Area ******************************/
div#breadcap{
  background-color: #DDECF8 ;
  margin-bottom: 0px;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 4px;
  padding-bottom: 1.5rem;
  font-family: 'Montserrat', sans-serif;  
}

/****************************** About Us Section ******************************/
#about {
  padding-top: 1rem;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(221,236,248);
  font-family: 'Montserrat', sans-serif;
}

#about h1 {
  white-space: pre-line;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 1rem;
}

#about h2 {
  padding-top: 10px;
  text-align:"center";
  font-size: 16px;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
}

#about .row{
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

#mission {
  background-color: rgb(221,236,248);
  padding-bottom: 5%;
  font-family: 'Montserrat', sans-serif;
}

.carousel {
  height: 50%;
  width: 50%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

h5.card-title{
  font-weight: 500;
}

h1.py-auto{
  padding-top: 40%; 
  padding-right: 5%; 
  font-weight: 500;
}

#accordion-container {
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
  font-family: 'Montserrat', sans-serif;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color:white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: rgb(221,236,248);
  font-family: 'Montserrat', sans-serif;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  background-color: white;
  display: none;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

#whatwedo{
    margin-top:0%;
    margin-bottom:1rem;
    font-family: 'Montserrat', sans-serif;
}
#whatwedo .h2{
    padding-top:30%;
    font-family: 'Montserrat', sans-serif;
}
#whatwedo .row{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;

}
#whatwedo #toptext{
    padding-top:2%;
    padding-bottom: 2%;
    margin-top:0%;
    color:#84ACCD;
    font-family: 'Montserrat', sans-serif;
}

#whatwedo #threecards{
    padding-top: 3%;
    font-family: 'Montserrat', sans-serif;
}
#whatwedo .card {
    margin:auto;
    font-family: 'Montserrat', sans-serif;
    background-color:#84ACCD;
    width: 80%;
    border-radius: 0%;
    
}
#whatwedo .col-sm-12{
  width:95%;
  font-family: 'Montserrat', sans-serif;
}
#whatwedo #wwdcard{
  padding-bottom:3%;
  font-family: 'Montserrat', sans-serif;
}
#events{
    padding-top:3%;
    background-color: #ddecf8;
    font-family: 'Montserrat', sans-serif;
}

p#eventsub {
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
}

#events .row{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

#events .card{
    margin:auto;
    background:rgb(0,0,0,0);
    width: 90%;
    height: 30rem;
    padding-top:4%;
    font-family: 'Montserrat', sans-serif;

}

#events a{
  width:50%;
  font-family: 'Montserrat', sans-serif;
}
#events .btn{
  background-color: #84ACCD;
  width:14%;
  font-family: 'Montserrat', sans-serif;
}

#whatwedo .btn{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
div#readmore{
  padding-bottom: 3%;
  margin-top: -2rem;
  font-family: 'Montserrat', sans-serif;
}

.btn-primary{
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  padding: 0.75rem;
}

#thankyou #toptext{
    padding-top:2%;
    padding-bottom: 2%;
    margin-top:0%;
    color:#84ACCD;
    font-family: 'Montserrat', sans-serif;
}

#contact {
  background-color:black;
  height: 500px;
  margin: 0px,0px,0px,0px;
  padding: 0px,0px,0px,0px;
  font-family: 'Montserrat', sans-serif;
}
#contact img{
  opacity: .3;
}

.panel h5{
  padding-top:5%;
  padding-bottom:5%;
  font-family: 'Montserrat', sans-serif;
}

div#tour{
  color:white;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/sunrise.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 4rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#tour .btn-primary{
  background-color: #4277A3;
  border-color: transparent;
  padding: 0.75rem;
  border-color: transparent;
  box-shadow: none;
}

#tour .btn-primary:hover {
  background-color: #84ACCD;
}

#tour h5, #tour h2{
    margin-bottom: 2rem;
}

a.btn.btn-primary{
  color: white;
  padding: 0.75rem;
}
