/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

@media only screen and (min-width: 768px) and (max-width: 959px) { }

@media only screen and (min-width: 480px) and (max-width: 767px) { }


/* Desktop (Large Devices) */
@media (min-width: 1200px) {
  .container{
      max-width: 970px;
  }
}

body{
    font-family: 'ABeeZee', sans-serif;
}

.navbar {
  background: pink;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr; /* only column intially */
  grid-auto-flow:dense;
  justify-items: stretch;
  align-items: stretch;
  column-gap: 20px;
}

.navbar-custom {
  background-color: rgb(132,172,205);
}

.nav-link {
  color: white;
}

.logo {
    background: green;
    width: 60px;
    grid-column:-3; /* create an implicit one at the beginning */
}

.menus {
    background: lightsalmon;
    display: flex;
    flex-direction: row;
    justify-content: start;
    grid-column: 1; /* take the explicit one */
}

.menus * {
    padding: 5px;
}

.toggler {
    background: lightskyblue;
    grid-column:2; /* create an implicit one at the end */
}

#about-us h2 {
    text-align:"center";
}

a:link{
    color:black;}
a:visited{
    color:black;}
a:hover{
    color: white;}
a {
    text-decoration: none;}

ul {
  list-style-type: none;

}

