@media only screen and (max-width: 959px) { }

@media only screen and (min-width: 768px) and (max-width: 959px) { }

@media only screen and (min-width: 480px) and (max-width: 767px) { }
.navbar {
  background: pink;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr; /* only column intially */
  grid-auto-flow:dense;
  justify-items: stretch;
  align-items: stretch;
  column-gap: 20px;
}

.logo {
    background: green;
    width: 60px;
    grid-column:-3; /* create an implicit one at the beginning */
}

.menus {
    background: lightsalmon;
    display: flex;
    flex-direction: row;
    justify-content: start;
    grid-column: 1; /* take the explicit one */
}

.menus * {
    padding: 5px;
}

.toggler {
    background: lightskyblue;
    grid-column:2; /* create an implicit one at the end */
}
