/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import url("https://use.fontawesome.com/releases/v5.0.1/css/all.css");

@media only screen and (min-width: 768px) and (max-width: 959px) { }

@media only screen and (min-width: 480px) and (max-width: 767px) { }


/* Desktop (Large Devices) */
@media (min-width: 1200px) {
  .container{
      max-width: 970px;
  }
}

body{
    font-family: 'ABeeZee', sans-serif;
}

.navbar-custom {
  background-color: rgb(132,172,205);
}

.nav-link {
  color: white;
}

.navbar-collapse {
  color: black;
}

.logo {
    background: green;
    width: 60px;
    grid-column:-3; /* create an implicit one at the beginning */
}

.menus {
    background: lightsalmon;
    display: flex;
    flex-direction: row;
    justify-content: start;
    grid-column: 1; /* take the explicit one */
}

.menus * {
    padding: 5px;
}

.toggler {
    background: lightskyblue;
    grid-column:2; /* create an implicit one at the end */
}
.container{
    margin:0;
}
#about-us h2 {
    text-align:"center";
}
#whatwedo{
    /* background-color:rgb(133, 107, 107); */
    margin-bottom:5%;
}
#whatwedo .row{
    /* background-color:rgb(109, 37, 37); */
    display: flex;
    justify-content: center;
}
#whatwedo .card {
    margin:auto;
    background-color:#84ACCD;
    width: 90%;
}
#events{
    padding-top:3%;
    background-color: #ddecf8;
}
#events .row{
    display: flex;
    justify-content: center;
}
#events .card{
    margin:auto;
    background:rgb(0,0,0,0);
    width: 90%;
    height: 30rem;

}

/* .thumb-post{
    object-fit: none;
    object-position: center; 
    width: 100%;
    max-height: 250px;
    margin-bottom: 1rem;
  } */

.btn{
    color: white;
}
.btn-primary{

    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

a:link{
    color:black;}
a:visited{
    color:black;}
a:hover{
    color: white;}
a {
    text-decoration: none;}

ul {
  list-style-type: none;
}

li {
  margin-right: 40px;
}
.nav-item li {
  margin-right: 100px;
}